cachegrind_results.tar.gz
cachegrind.out.B_1
cachegrind.out.B_2
cachegrind.out.B_4
cachegrind.out.B_8
cachegrind.out.B_16
cachegrind.out.B_32
cachegrind.out.B_64
cachegrind.out.B_128
cachegrind.out.B_256
cg_B_1.txt
cg_B_2.txt
cg_B_4.txt
cg_B_8.txt
cg_B_16.txt
cg_B_32.txt
cg_B_64.txt
cg_B_128.txt
cg_B_256.txt
matvec_B_1.stdout
matvec_B_2.stdout
matvec_B_4.stdout
matvec_B_8.stdout
matvec_B_16.stdout
matvec_B_32.stdout
matvec_B_64.stdout
matvec_B_128.stdout
matvec_B_256.stdout
matvec_blocked